[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "uvicorn main:app --reload --env-file .env"
docs = "make html -o docs"
test = "coverage run -m pytest"
coverage = "coverage report"

[packages]
uvicorn = "*"
psycopg2 = "*"
starlette = "*"
requests = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
coverage = "*"
sphinx = "*"

[requires]
python_version = "3.9"
